In [26]:
people = {
    "first":["samma","soni","saniya"],
    "last":["begam","begam","firdous"],
    "email":["sammabegam23@gmail.com","sonibegam23@gmail.com", "saniyafirdous456@gmail.com"]
}

In [27]:
import pandas as pd

In [28]:
df=pd.DataFrame(people)

In [29]:
df

    first     last                       email
0   samma    begam      sammabegam23@gmail.com
1    soni    begam       sonibegam23@gmail.com
2  saniya  firdous  saniyafirdous456@gmail.com

In [30]:
filt = (df['last']=='begam') &  (df['first']=='soni')

In [31]:
df.loc[filt,'email']

1    sonibegam23@gmail.com
Name: email, dtype: object

In [32]:
filt = (df['last']=='firdous') |  (df['first']=='samma')

In [33]:
df.loc[filt,'email']

0        sammabegam23@gmail.com
2    saniyafirdous456@gmail.com
Name: email, dtype: object

In [34]:
filt = (df['last']=='firdous') |  (df['first']=='samma')

In [35]:
df.loc[-filt,'email']

1    sonibegam23@gmail.com
Name: email, dtype: object