In [1]:
people= {
    "first":"Samma",
    "last":"Khatoon",
    "email":"sammakhatoon677@gmail.com"
}

In [2]:
people = {
    "first":["Samma"],
    "last":["Khatoon"],
    "email":["sammakhatoon677@gmail.com"]
}

In [3]:
people = {
    "first":["Samma","soni","saniya"],
    "last":["Khatoon","begam","firdous"],
    "email":["sammakhatoon677@gmail.com","sonibegam23@gmail.com", "saniyafirdous456@gmail.com"]
}

In [4]:
people['email']

['sammakhatoon677@gmail.com',
 'sonibegam23@gmail.com',
 'saniyafirdous456@gmail.com']

In [5]:
import pandas as pd

In [7]:
df=pd.DataFrame(people)

In [8]:
df

    first     last                       email
0   Samma  Khatoon   sammakhatoon677@gmail.com
1    soni    begam       sonibegam23@gmail.com
2  saniya  firdous  saniyafirdous456@gmail.com

In [9]:
df['email']

0     sammakhatoon677@gmail.com
1         sonibegam23@gmail.com
2    saniyafirdous456@gmail.com
Name: email, dtype: object

In [10]:
type(df['email'])

pandas.core.series.Series

In [11]:
df.email

0     sammakhatoon677@gmail.com
1         sonibegam23@gmail.com
2    saniyafirdous456@gmail.com
Name: email, dtype: object

In [12]:
df[['last','email']]

      last                       email
0  Khatoon   sammakhatoon677@gmail.com
1    begam       sonibegam23@gmail.com
2  firdous  saniyafirdous456@gmail.com

In [13]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [14]:
df.iloc[0]

first                        Samma
last                       Khatoon
email    sammakhatoon677@gmail.com
Name: 0, dtype: object

In [17]:
df.iloc[[0, 1]]

   first     last                      email
0  Samma  Khatoon  sammakhatoon677@gmail.com
1   soni    begam      sonibegam23@gmail.com

In [18]:
df

    first     last                       email
0   Samma  Khatoon   sammakhatoon677@gmail.com
1    soni    begam       sonibegam23@gmail.com
2  saniya  firdous  saniyafirdous456@gmail.com

In [19]:
df.loc[0]

first                        Samma
last                       Khatoon
email    sammakhatoon677@gmail.com
Name: 0, dtype: object

In [20]:
df.loc[[0, 1]]

   first     last                      email
0  Samma  Khatoon  sammakhatoon677@gmail.com
1   soni    begam      sonibegam23@gmail.com

In [22]:
df.loc[[0, 1], ['email','last']]

                       email     last
0  sammakhatoon677@gmail.com  Khatoon
1      sonibegam23@gmail.com    begam