In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# read csv
df=pd.read_csv('ETH_1h.csv')

In [3]:
df.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [4]:
df.info() #dataset information
df.describe() #statistical sumary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23674 entries, 0 to 23673
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23674 non-null  object
 1   Symbol  23674 non-null  object
 2   Open    23674 non-null  float64
 3   High    23674 non-null  float64
 4   Low     23674 non-null  float64
 5   Close   23674 non-null  float64
 6   Volume  23674 non-null  float64
dtypes: float64(5), object(2)
memory usage: 1.3+ MB

               Open          High           Low         Close        Volume
count  23674.000000  23674.000000  23674.000000  23674.000000  2.367400e+04
mean     324.933372    327.317109    322.255521    324.926601  2.011035e+06
std      236.189068    238.539115    233.365042    236.192308  3.673646e+06
min       81.290000     82.000000     80.600000     81.290000  0.000000e+00
25%      171.522500    172.472500    170.500000    171.512500  3.993914e+05
50%      229.745000    231.725000    228.100000    229.725000  9.146454e+05
75%      402.797500    405.427500    400.030000    402.797500  2.098111e+06
max     1418.610000   1419.960000   1388.990000   1418.610000  8.569790e+07

In [5]:
# Converting date into datetime
df['Date']=pd.to_datetime(df['Date'],format='%Y-%m-%d %I-%p')

In [6]:
df['Date']

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [14]:
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [16]:
#Feature Engineering(Time-based features)
# Extracting Year, Month,Day from date
df['Year']=df.index.year
df['Month']=df.index.month
df['Day']=df.index.day
df['Hour']=df.index.hour
df['Weekday']=df.index.day_name()
df.head()

,Symbol,Open,High,Low,Close,Volume,Year,Month,Day,Hour,Weekday
Date,,,,,,,,,,,
2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.1,275.01,679358.87,2017,7,1,11,Saturday
2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.0,274.83,824362.87,2017,7,1,12,Saturday
2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.0,268.79,3010787.99,2017,7,1,13,Saturday
2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.0,265.74,1702536.85,2017,7,1,14,Saturday
2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.0,272.57,1500282.55,2017,7,1,15,Saturday

In [18]:
#Filter data(Example:year 2017)
df_2017=df[df.index.year==2017]
df_2017.head()

,Symbol,Open,High,Low,Close,Volume,Year,Month,Day,Hour,Weekday
Date,,,,,,,,,,,
2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.1,275.01,679358.87,2017,7,1,11,Saturday
2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.0,274.83,824362.87,2017,7,1,12,Saturday
2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.0,268.79,3010787.99,2017,7,1,13,Saturday
2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.0,265.74,1702536.85,2017,7,1,14,Saturday
2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.0,272.57,1500282.55,2017,7,1,15,Saturday

In [20]:
# Filter using date range
# Filter between two dates
df_2017 = df.loc['2017-01-01':'2017-12-31']

df_2017.head()

,Symbol,Open,High,Low,Close,Volume,Year,Month,Day,Hour,Weekday
Date,,,,,,,,,,,
2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.1,275.01,679358.87,2017,7,1,11,Saturday
2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.0,274.83,824362.87,2017,7,1,12,Saturday
2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.0,268.79,3010787.99,2017,7,1,13,Saturday
2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.0,265.74,1702536.85,2017,7,1,14,Saturday
2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.0,272.57,1500282.55,2017,7,1,15,Saturday

In [21]:
#Resampling(Time aggregation)-Hourly-daily

# Daily average Close price
daily_close = df['Close'].resample('D').mean()

daily_close.head()

Date
2017-07-01    265.284615
2017-07-02    269.782500
2017-07-03    278.882083
2017-07-04    276.743333
2017-07-05    265.025833
Freq: D, Name: Close, dtype: float64

In [23]:
# Monthly volume
# Monthly traded volume (Month End)
monthly_volume = df['Volume'].resample('ME').sum()

monthly_volume.head()

Date
2017-07-31    1.818282e+09
2017-08-31    1.529929e+09
2017-09-30    1.678947e+09
2017-10-31    8.155377e+08
2017-11-30    1.974056e+09
Freq: ME, Name: Volume, dtype: float64

In [25]:
#Monthly OHLC(financial data)
# Monthly Open, High, Low, Close
monthly_ohlc = df['Close'].resample('ME').ohlc()

monthly_ohlc.head()

              open    high     low   close
Date
2017-07-31  275.01  292.54  134.32  200.82
2017-08-31  205.67  389.78  205.67  389.20
2017-09-30  392.45  395.54  205.39  298.16
2017-10-31  298.85  348.45  277.81  303.50
2017-11-30  302.94  508.82  281.79  434.03

In [26]:
# Rolling window(Moving average)
# 24-hour moving average
df['MA_24'] = df['Close'].rolling(window=24).mean()

df[['Close', 'MA_24']].head(30)

                      Close       MA_24
Date
2017-07-01 11:00:00  275.01         NaN
2017-07-01 12:00:00  274.83         NaN
2017-07-01 13:00:00  268.79         NaN
2017-07-01 14:00:00  265.74         NaN
2017-07-01 15:00:00  272.57         NaN
2017-07-01 16:00:00  268.00         NaN
2017-07-01 17:00:00  263.51         NaN
2017-07-01 18:00:00  259.50         NaN
2017-07-01 19:00:00  258.49         NaN
2017-07-01 20:00:00  258.17         NaN
2017-07-01 21:00:00  257.13         NaN
2017-07-01 22:00:00  263.84         NaN
2017-07-01 23:00:00  263.12         NaN
2017-07-02 00:00:00  259.90         NaN
2017-07-02 01:00:00  262.84         NaN
2017-07-02 02:00:00  257.02         NaN
2017-07-02 03:00:00  256.81         NaN
2017-07-02 04:00:00  257.84         NaN
2017-07-02 05:00:00  263.20         NaN
2017-07-02 06:00:00  260.88         NaN
2017-07-02 07:00:00  265.00         NaN
2017-07-02 08:00:00  274.00         NaN
2017-07-02 09:00:00  269.56         NaN
2017-07-02 10:00:00  263.37  264.130000
2017-07-02 11:00:00  267.98  263.837083
2017-07-02 12:00:00  265.89  263.464583
2017-07-02 13:00:00  262.01  263.182083
2017-07-02 14:00:00  263.53  263.090000
2017-07-02 15:00:00  267.39  262.874167
2017-07-02 16:00:00  271.92  263.037500

In [28]:
#Lag features(Important for ML)
# Previous hour close prices
df['Close_lag_1'] = df['Close'].shift(1)
df['Close_lag_2'] = df['Close'].shift(2)

df.head()

,Symbol,Open,High,Low,Close,Volume,Year,Month,Day,Hour,Weekday,MA_24,Close_lag_1,Close_lag_2
Date,,,,,,,,,,,,,,
2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.1,275.01,679358.87,2017,7,1,11,Saturday,NaN,NaN,NaN
2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.0,274.83,824362.87,2017,7,1,12,Saturday,NaN,275.01,NaN
2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.0,268.79,3010787.99,2017,7,1,13,Saturday,NaN,274.83,275.01
2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.0,265.74,1702536.85,2017,7,1,14,Saturday,NaN,268.79,274.83
2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.0,272.57,1500282.55,2017,7,1,15,Saturday,NaN,265.74,268.79

In [32]:
# Check missing values
df.isna().sum()

Symbol          0
Open            0
High            0
Low             0
Close           0
Volume          0
Year            0
Month           0
Day             0
Hour            0
Weekday         0
MA_24          23
Close_lag_1     1
Close_lag_2     2
dtype: int64

In [33]:
# Forward fill missing values
df.ffill(inplace=True)

In [36]:
df.head(4)

,Symbol,Open,High,Low,Close,Volume,Year,Month,Day,Hour,Weekday,MA_24,Close_lag_1,Close_lag_2
Date,,,,,,,,,,,,,,
2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.1,275.01,679358.87,2017,7,1,11,Saturday,NaN,NaN,NaN
2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.0,274.83,824362.87,2017,7,1,12,Saturday,NaN,275.01,NaN
2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.0,268.79,3010787.99,2017,7,1,13,Saturday,NaN,274.83,275.01
2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.0,265.74,1702536.85,2017,7,1,14,Saturday,NaN,268.79,274.83

In [37]:
# Group by year
# Average Close price per year
yearly_avg = df.groupby(df.index.year)['Close'].mean()
yearly_avg

Date
2017    351.966277
2018    480.932120
2019    180.752030
2020    197.568759
Name: Close, dtype: float64

In [39]:
# get data for specific date and time
# Exact timestamp
df.loc['2020-03-13 20:00:00']

Symbol             ETHUSD
Open               129.94
High               131.82
Low                126.87
Close              128.71
Volume         1940673.93
Year                 2020
Month                   3
Day                    13
Hour                   20
Weekday            Friday
MA_24          123.860417
Close_lag_1        129.94
Close_lag_2        119.51
Name: 2020-03-13 20:00:00, dtype: object